page-start {
  .scroll-content {
    background: $naranja;
    background: linear-gradient(108deg, $naranjaClaro 58%, $naranja 58%, $naranja 100%);
    display: flex;
    flex-direction: column;
    padding-top: 40px !important;
    margin-top: 0;

    img {
      padding: 10px;
    }

    .startContent {
      height: 100%;
      display: flex;

      .buttonsGroup {
        height: 100%;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .socialButton:not(:first-child) {
          margin-top: 10px;
        }

        .socialButton {
          border-radius: 20px;
          box-shadow: none;
          height: 40px;
          min-width: 70%;
          font-size: 16px;

          &.loginGoogleButton {
            color: gray;

            span {
              font-family: roboto;
            }
          }
        }

        .startButtons {
          margin-top: 10%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .startButton {
            color: #fff;
            background-color: #80358a;
            width: 180px;
            margin: 10px auto;
            height: auto;
            font-size: 25px;
            padding: 4px 0 2px;
            border-radius: 12px;
          }
        }
      }
    }
  }
}
