<ion-content padding>
  <img src="assets/imgs/logo.png">
  <div class="startContent">

    <div class="buttonsGroup">
      <button ion-button icon-start color="facebook" (click)="loginFacebook()" class="loginFacebookButton socialButton">
        <ion-icon name="logo-facebook"></ion-icon>Iniciar sesión con Facebook
      </button>
      <!-- <button ion-button (click)='goToPrimeraVez()'>primera vez</button> -->
      <!-- <button ion-button icon-start color="blanco" (click)="loginGoogle()" class="loginGoogleButton">
        <ion-icon name="logo-google"></ion-icon>Usar cuenta de Google
      </button> -->
      <div class="startButtons">
        <button class="loginButton startButton" color="morado" ion-button (click)="goToLogin()">ACCEDER</button>
        <button class="registerButton startButton" color="morado" ion-button (click)="goToRegister()">CUENTA NUEVA</button>
      </div>
    </div>
  </div>
</ion-content>
