<ion-content padding>
  <button (click)="volver()" ion-button clear icon-only>
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
  <img src="assets/imgs/logo.png">
  <div>
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <a href='https://micomidavegana.com/usuarios/reiniciar-password/'>¿Has olvidado la contraseña?</a>
      <div class="button-wrap">
        <button class="loginButton" type="submit" color="morado" ion-button (click)="login()">ENVIAR</button>
      </div>
    </form>
  </div>
  <div></div>
</ion-content>
