page-login {
  .scroll-content {
    background: linear-gradient(113deg, $naranjaClaro 0%, $naranjaClaro 55%, $naranja 55%, $naranja 100%);
    margin: 0;

    &>button {
      color: black;
    }

    &>img {
      display: block;
    }

    form {
      text-align: center;
      display: flex;
      flex-direction: column;

      &>a {
        font-family: montserrat;
        color: black;
        padding-top: 16px;
        text-decoration: none;
      }

      ion-item {
        background: none;

        ion-label {
          color: $morado !important;
        }

        &.input-has-focus {
          .item-inner {
            box-shadow: none;
          }
        }

        .item-inner {
          border-bottom: none!important;
          box-shadow: none !important;

          .input-wrapper {
            border-bottom: 2px solid black;
            padding: 1px 0px;
          }
        }
      }

      &>.button-wrap {
        text-align: center;
        padding: 12px 0;

        button {
          color: #fff;
          background-color: #80358a;
          width: 80px;
          margin: 32px auto 10px;
          height: auto;
          font-size: 22px;
          padding: 4px 0 2px;
          border-radius: 12px;
        }
      }
    }
  }
}
