page-qr-scanner {
  ion-navbar {
    button {
      color: white !important;
    }

    .toolbar-background {
      background: $verde !important;
    }
  }
  .scroll-content {
    background: transparent;
    .footer {
      width: 100%;
      height: 5.6rem;
      background: $verde;
      position: fixed;
      bottom: 0;
    }
  }

}
