<ion-header>
  <ion-navbar>
    <div class="logo-wrap">
      <img src="assets/imgs/logo.png">
    </div>
    <div class="account-wrap">
      <button ion-button clear (click)="goToMiCuenta()"><img src="assets/imgs/mi-cuenta-green.png"></button>
      <button ion-button clear (click)="goToInfo()"><img src="assets/imgs/info-green.png"></button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <p class="page-title">FAVORITOS</p>
  <p class="no-content" *ngIf="restaurantes.favoritos.length == 0">¡Aún no has añadido ningún restaurante a tus
    favoritos!</p>
  <div class="recientes">
    <div class="recientes-list">
      <div class="restaurante" *ngFor="let restaurante of restaurantes.favoritos" (click)="goToThisRestaurante(restaurante)">
        <div class="image" [ngStyle]="{'background-image': 'url(https://micomidavegana.com/static/media/' + restaurante.imagen + ')'}">
          <div class="down-bar {{ restaurante.tipo }}"></div>
        </div>
        <div class="data">
          <p class="title">{{ restaurante.nombre }}</p>
          <div *ngIf="restaurante.abierto" class="current-status"><img src="assets/imgs/abierto.png"></div>
          <div *ngIf="!restaurante.abierto" class="current-status"><img src="assets/imgs/cerrado.png"></div>
          <p *ngIf="restaurante.distancia" class="restaurant-distance">{{
            restaurante.distancia }}km</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
