page-register {
  .scroll-content {
    background: linear-gradient(113deg, $naranjaClaro 0%, $naranjaClaro 55%, $naranja 55%, $naranja 100%);
    margin: 0;

    &>button {
      color: black;
    }

    &>img {
      display: block;
    }

    form {

      ion-item,
      ion-select {
        ion-label {
          color: $morado !important;
        }
      }

      ion-item {
        background: none;

        &.input-has-focus {
          .item-inner {
            box-shadow: none !important;
          }
        }

        &.item-select {
          min-height: 71px;
          align-items: flex-end;

          ion-label {
            margin: 8px 8px 8px 0;
          }

          ion-select {
            // position: relative;
            // padding: 8px 8px 8px 0;
            // width: 50%;
            padding: 8px 8px 4px 0;

            .select-text {
              text-align: center;
            }
          }
        }

        .item-inner {
          border-bottom: none!important;
          box-shadow: none !important;

          .input-wrapper {
            border-bottom: 2px solid black;
            padding: 1px 0px;
          }
        }
      }

      ion-list {
        min-height: 60px;
        align-items: flex-end;
        display: flex;
        margin: 0;

        p {
          a {
            color: black;
          }
        }

        ion-item {
          width: auto !important;

          ion-label {
            margin: 8px 8px 8px 0;
          }

          .item-inner {

            .input-wrapper {
              border-bottom: none !important;

              ion-label {
                color: black;
                font-size: 14px;
              }
            }

          }

          ion-checkbox {
            margin: 9px 15px 9px 4px !important;

            .checkbox-icon {
              border-radius: 0;
              background: none;
              border-color: $morado;

              &.checkbox-checked {
                .checkbox-inner {
                  left: 1px;
                  top: 1px;
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  transition: 0.5s;
                  background: purple;
                  border-color: purple;
                  transform: none;
                  border-top-width: 2px;
                  border-left-width: 2px;
                }
              }
            }
          }

        }
      }

      &>.button-wrap {
        text-align: center;
        padding: 12px 0;

        button {
          color: #fff;
          background-color: #80358a;
          width: 80px;
          margin: 10px auto;
          height: auto;
          font-size: 22px;
          padding: 4px 0 2px;
          border-radius: 12px;
        }
      }
    }

  }
}
