<ion-content padding>
  <button (click)="volver()" ion-button clear icon-only>
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
  <img src="assets/imgs/logo.png">
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nombre de usuario</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Repite tu contraseña</ion-label>
      <ion-input formControlName="repeatPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="city">Ciudad</ion-label>
      <ion-select id="city" formControlName="city">
        <ion-option [value]="ciudad.nombre" *ngFor="let ciudad of listaCiudades">{{ ciudad.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-list radio-group>
      <ion-item>
        <ion-checkbox formControlName="policy" value="true"></ion-checkbox>
      </ion-item>
      <p>HE LEÍDO Y ACEPTO LA <a href='https://micomidavegana.com/ley-proteccion-de-datos/'>PROTECCIÓN DE DATOS</a></p>
    </ion-list>
    <ion-list radio-group>
      <ion-item>
        <ion-checkbox formControlName="commercialMailing" value="true"></ion-checkbox>
      </ion-item>
      <p>QUIERO SUSCRIBIRME AL BOLETÍN INFORMATIVO</p>
    </ion-list>
    <div class="button-wrap">
      <button class="registerButton" type="submit" color="morado" ion-button (click)="register()">ENVIAR</button>
    </div>
  </form>
  <div style='height: 64px;'></div>
</ion-content>
