<ion-tabs #tabs id="tabs" [id]="'tabs'" selectedIndex="2">
  <ion-tab [root]="MapaPage"></ion-tab>
  <ion-tab [root]="ListaPage"></ion-tab>
  <ion-tab [root]="MenuPage"></ion-tab>
  <ion-tab [root]="FavoritosPage"></ion-tab>
  <ion-tab [root]="BuscarPage"></ion-tab>
</ion-tabs>