<ion-header>
  <ion-navbar>
    <div class="logo-wrap">
      <img src="assets/imgs/logo.png">
    </div>
    <div class="account-wrap">
      <button ion-button clear (click)="goToMiCuenta()"><img src="assets/imgs/mi-cuenta-green.png"></button>
      <button ion-button clear (click)="goToInfo()"><img src="assets/imgs/info-green.png"></button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <agm-map [styles]='mapStyles' [latitude]="location.userLocation.latitude" [longitude]="location.userLocation.longitude" [streetViewControl]='false' (mapClick)='unselectRestaurante()'>

    <agm-marker *ngFor="let m of restaurantes.restaurantes; let i = index" (markerClick)="goToThisRestaurante(m)" [latitude]="m.ubicacion_x"
      [longitude]="m.ubicacion_y" [iconUrl]='getIcon(m)' [markerDraggable]="false">
      <agm-info-window>
        <strong>{{ m.nombre + ((m.direccion != null && m.direccion.length > 0) ? (' (' + m.direccion + ')') : '') + (m.gratis == 'True' ? ' - SIN PERFIL' : '') }}</strong>
      </agm-info-window> 
    </agm-marker>

    <agm-marker [latitude]="location.currentLocation.latitude" [longitude]="location.currentLocation.longitude" [iconUrl]='"assets/imgs/own_location.png"' [markerDraggable]="false">
    </agm-marker>

  </agm-map>
  <ion-fab *ngIf='restaurantes.selectedMapaRestaurante' bottom left>
    <button color='morado' ion-fab (click)='getDirections()'><ion-icon name="navigate"></ion-icon></button>
  </ion-fab>
</ion-content>
