page-mapa {
  #map_canvas {
    height: 100%;
  }

  agm-map {
    height: 100%;
  }
  .htmlinfocontentbox {
    min-width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 5px;
    padding-bottom: 5px;
    p {
      font-family: montserrat;
    }
    // p {
    //   margin: 0;
    // }
    // .titulo {
      
    // }
  }
}
