<ion-header>
  <ion-navbar>
    <div class="logo-wrap">
      <img src="assets/imgs/logo.png">
    </div>
    <div class="account-wrap">
      <!-- <button ion-button clear><img src="assets/imgs/mi-cuenta-green.png"></button> -->
      <button ion-button clear (click)="goBack()"><img src="assets/imgs/info-purple.png"></button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="main-info-wrap">
      <img src="assets/imgs/info-banner.png">
      <img class="info-logo" src="assets/imgs/logo.png">
      <!-- Mi comida vegana surge de la necesidad de localizar restaurantes/bares veganos en nuestra ciudad, siendo así nuestra guía de viaje o de futuras estancias así como ayuda para las personas que desean conocer qué es el veganismo. -->
  </div>

  <div class="main-content-wrap">
    <img src="assets/imgs/info-content.png">
  </div>

  <div class="info-buttons">
    <button ion-button full color="light"><a href='https://micomidavegana.com/'>Mi comida vegana</a></button>
    <button ion-button full color="light"><a href='https://micomidavegana.com/ley-proteccion-de-datos/'>Política de privacidad</a></button>
    <button ion-button full color="light"><a href='https://micomidavegana.com/terminos-condiciones-uso/'>Términos y condiciones</a></button>
  </div>

</ion-content>