page-info {
  .scroll-content {
    .main-info-wrap {
      padding: 10px;
      position: relative;
      .info-logo {
        position: absolute;
        right: 0;
        top: 60%;
        width: 40%;
      }
    }
    .main-content-wrap {
      margin-top: 80px;
      padding: 20px;
    }
    .info-buttons {
      margin-top: 12%;
      button {
        box-shadow: none;
        height: 2.8rem;
        span {
          text-transform: none;
          font-family: montserrat;
          font-size: 13px;
        }
        a {
          color: black;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
}
