page-buscar {
  .restaurante {
    display: flex;
    margin-bottom: 14px;
    p {
      margin: 0;
    }
    .image {
      width: 100px;
      height: 75px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      padding: 14px 0;
      justify-content: center;
      position: relative;
      border-radius: 8px;
      background-color: map-get($colors, gris);
      margin-right: 12px;
      overflow: hidden;
      img {
        margin: 0 auto;
      }
      .down-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 14px;
        &.vegana {
          background-color: $verde;
        }
        &.vegetariana {
          background-color: $amarillo;
        }
        &.opcion {
          background-color: $naranja;
        }
        &.tienda {
          background-color: $morado;
        }
      }
    }
    .data {
      width: 68%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .restaurant-distance {
        background-color: #eee;
        display: inline-block;
        width: fit-content;
        padding: 0 3px;
      }
      .title {
        font-size: 18px;
        font-weight: bold;
      }
      .valoration {
        display: flex;
        flex-direction: row;
        img {
          width: 20px;
          height: 20px;
        }
        .reviews {
          font-weight: bold;
          font-size: 11px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 8px;
        }
      }
      .description {
        font-size: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .distance {
        background-color: #eee;
        display: inline-block;
          font-weight: bold;
          font-size: 11px;
        padding: 0 3px;
        width: fit-content;
      }
      .current-status {
        img {
          display: block;
          max-height: 11px;
          background-color: white;
          border-radius: 4px;
          margin: 3px 0;
        }
      }
    }
  }
  form {

    ion-item,
    ion-select {
      ion-label {
        color: $morado !important;
      }
    }

    .tipo-selector-span {
      display: flex;
      margin: 20px 0;
      ion-item {
        justify-content: center;
        padding: 0;

        .item-inner {
          display: none;
        }

        ion-checkbox {
          margin: 0 !important;

          .checkbox-icon {
            width: 24px;
            height: 24px;

            .checkbox-inner {

              width: 8px;
              height: 15px;
              left: 6px;
              top: 1px;
            }
          }
        }
      }
    }

    ion-item {
      background: none;

      &.input-has-focus {
        .item-inner {
          box-shadow: none !important;
        }
      }

      &.item-select {
        min-height: 71px;
        align-items: flex-end;

        ion-label {
          margin: 8px 8px 8px 0;
        }

        ion-select {
          // position: relative;
          // padding: 8px 8px 8px 0;
          // width: 50%;
          padding: 8px 8px 4px 0;
          
          .select-text {
            text-align: center;
            height: 22px;
          }
        }
      }

      .item-inner {
        border-bottom: none !important;
        box-shadow: none !important;

        .input-wrapper {
          border-bottom: 2px solid black;
          padding: 1px 0px;
        }
      }
    }

    // ion-list {
    //   min-height: 60px;
    //   align-items: flex-end;
    //   display: flex;
    //   margin: 0;

    //   ion-item {

    //     ion-label {
    //       margin: 8px 8px 8px 0;
    //     }

    //     .item-inner {

    //       .input-wrapper {
    //         border-bottom: none !important;

    //         ion-label {
    //           color: black;
    //           font-size: 14px;
    //         }
    //       }

    //     }

    //     ion-checkbox {
    //       margin: 9px 15px 9px 4px !important;

    //       .checkbox-icon {
    //         border-radius: 0;
    //         background: none;
    //         border-color: $morado;

    //         &.checkbox-checked {
    //           .checkbox-inner {
    //             left: 1px;
    //             top: 1px;
    //             position: absolute;
    //             width: 10px;
    //             height: 10px;
    //             transition: 0.5s;
    //             background: purple;
    //             border-color: purple;
    //             transform: none;
    //             border-top-width: 2px;
    //             border-left-width: 2px;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    .button-wrap {
      padding: 0 0 20px;
      text-align: center;

      button {
        box-shadow: none !important;
        color: $morado !important;
        width: fit-content !important;
        height: auto !important;
        padding: 4px 1.1em !important;
        border-radius: 6px !important;
        margin: 0 auto !important;
        font-size: 18px;

        img {
          max-width: 25px !important;
          margin-left: 4px !important;
        }
      }
    }
  }

  // .search-form {
  //   display: flex;
  //   flex-direction: column;
  //   padding: 40px 25px 0;
  //   margin-bottom: 20%;
  //   input {
  //     border: none;
  //     color: $morado;
  //     border-bottom: 1px solid #444;
  //     margin-bottom: 16px;
  //     &::placeholder {
  //       color: $morado;
  //     }
  //   }
  //   .input-name {
  //     font-size: 22px;
  //   }
  //   .input-city {
  //     font-size: 15px;
  //   }
  //   button {
  //     box-shadow: none;
  //     color: $morado;
  //     width: fit-content;
  //     height: auto;
  //     padding: 2px 1.1em;
  //     border-radius: 6px;
  //     margin: 0 auto;
  //     img {
  //       max-width: 20px;
  //       margin-left: 4px;
  //     }
  //   }
  // }
  .recientes {
    padding: 0 16px;

    .recientes-title {
      color: #888;
    }

    .recientes-list {
      .restaurant {
        border-left: 18px solid;
        padding-left: 6px;
        margin-bottom: 20px;

        p {
          margin: 0;
        }

        .restaurant-title {
          font-size: 20px;
        }

        .restaurant-location {
          color: #888;
        }

        .restaurant-distance {
          background-color: #eee;
          display: inline-block;
          padding: 0 3px;
        }
      }
    }
  }

  .search-results {
    padding: 0 25px;
  }
}
