<ion-header>
  <ion-navbar>
    <div class="logo-wrap">
      <img src="assets/imgs/logo.png">
    </div>
    <div class="account-wrap">
      <button ion-button clear (click)="goToMiCuenta()"><img src="assets/imgs/mi-cuenta-green.png"></button>
      <button ion-button clear (click)="goToInfo()"><img src="assets/imgs/info-green.png"></button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="searchForm">
    <ion-item>
      <ion-label floating>BUSCAR EN MI COMIDA VEGANA</ion-label>
      <ion-input formControlName="restaurantName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>¿Dónde quieres buscar?</ion-label>
      <ion-select (ionCancel)='searchForm["controls"]["restaurantCity"].reset()' cancelText="Cancelar" formControlName="restaurantCity">
        <ion-option [value]="ciudad.nombre" *ngFor="let ciudad of listaCiudades">{{ ciudad.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="tipo-selector-span">
      <ion-item>
        <ion-checkbox formControlName="filterVegana" color="verde"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox formControlName="filterVegetariana" color="amarillo"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox formControlName="filterOpcion" color="naranja"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox formControlName="filterTienda" color="morado"></ion-checkbox>
      </ion-item>

    </div>
    <div class="button-wrap">
      <button ion-button color="gris" type="submit" (click)="buscar()">BUSCAR<img src="assets/imgs/buscar-purple.png"></button>
    </div>
  </form>
  <!-- <div class="search-form">
    <input class="input-name" [(ngModel)]="restaurantName" type="text" placeholder="BUSCAR EN MI COMIDA VEGANA">
    <input class="input-city" [(ngModel)]="restaurantCity" type="text" placeholder="¿Dónde quieres buscar?">
    <button ion-button color="gris" type="submit()" (click)="buscar()">BUSCAR<img src="assets/imgs/buscar-purple.png"></button>
  </div> -->
  <div class="recientes" *ngIf="showSearch == true">
    <div class="recientes-list">
        <div class="restaurante" *ngFor="let restaurante of searchList" (click)="goToThisRestaurante(restaurante)">
          <div class="image" [ngStyle]="{'background-image': 'url(https://micomidavegana.com/static/media/' + restaurante.imagen + ')'}">
            <div class="down-bar {{ restaurante.tipo }}"></div>
          </div>
          <div class="data">
            <p class="title">{{ restaurante.nombre }}</p>
            <div *ngIf="restaurante.abierto" class="current-status"><img src="assets/imgs/abierto.png"></div>
            <div *ngIf="!restaurante.abierto" class="current-status"><img src="assets/imgs/cerrado.png"></div>
            <p *ngIf="restaurante.distancia" class="restaurant-distance">{{
              restaurante.distancia }}km</p>
          </div>
        </div>
    </div>
  </div>
  <div class="recientes" *ngIf="recientesList.length > 0">
    <p class="recientes-title">Recientes</p>
    <div class="recientes-list">
      <div class="restaurante" *ngFor="let restaurante of recientesList" (click)="goToThisRestaurante(restaurante)">
        <div class="image" [ngStyle]="{'background-image': 'url(https://micomidavegana.com/static/media/' + restaurante.imagen + ')'}">
          <div class="down-bar {{ restaurante.tipo }}"></div>
        </div>
        <div class="data">
          <p class="title">{{ restaurante.nombre }}</p>
          <div *ngIf="restaurante.abierto" class="current-status"><img src="assets/imgs/abierto.png"></div>
          <div *ngIf="!restaurante.abierto" class="current-status"><img src="assets/imgs/cerrado.png"></div>
          <p *ngIf="restaurante.distancia" class="restaurant-distance">{{
            restaurante.distancia }}km</p>
        </div>
      </div>
    </div>
  </div>
  <div class="search-results"></div>
</ion-content>
