$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  gris:      #e6e6e6,  
  facebook: #3b5998,
  blueFacebook: rgb(2, 2, 2), 
  redGoogle: #DB4437,
  naranja: #fbae17,
  naranjaClaro: #fbcf9d,
  morado: #80358a,
  moradoClaro: #bc6bc7,
  verde: #66b300,
  verdeClaro: #deecc9,
  amarillo: #d9e021,
  amarilloClaro: #f4f5bc,
);

$gris:      #e6e6e6;
$blueFacebook: rgb(2, 2, 2);
$redGoogle: #DB4437;
$naranja: #fbae17;
$naranjaClaro: #fbcf9d;
$morado: #80358a;
$verde: #66b300;
$verdeClaro: #deecc9;
$amarillo: #d9e021;
$amarilloClaro: #f4f5bc;

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important;
}