<ion-header>
  <ion-navbar [ngClass]="restaurantes.selectedRestaurante.tipo">
    <ion-title>{{ restaurantes.selectedRestaurante.nombre }}</ion-title>
    <ion-buttons end class="restaurante-option">
      <button ion-button icon-only (click)="call()">
        <img src="assets/imgs/call.png">
      </button>
      <button ion-button icon-only (click)="addFavorito()">
        <img *ngIf="!restaurantes.selectedRestaurante.favorite" src="assets/imgs/favourite-white.png">
        <img *ngIf="restaurantes.selectedRestaurante.favorite && restaurantes.selectedRestaurante.tipo != 'tienda'" src="assets/imgs/favourite-purple.png">
        <img *ngIf="restaurantes.selectedRestaurante.favorite && restaurantes.selectedRestaurante.tipo == 'tienda'" src="assets/imgs/favourite-green.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main-image" [style.background-image]="'url(https://micomidavegana.com/static/media/' + restaurantes.selectedRestauranteProfile.foto_fondo + ')'">

  </div>

  <div class="heading section">
    <img [src]="'https://micomidavegana.com/static/media/' + restaurantes.selectedRestaurante.imagen">
    <div class="restaurante-title">
      <p class="title">{{ restaurantes.selectedRestaurante.nombre }}</p>
      <p>{{ restaurantes.selectedRestauranteProfile.direccion }}</p>
      <div *ngIf="restaurantes.selectedRestaurante.abierto" class="current-status"><img src="assets/imgs/abierto.png"></div>
      <div *ngIf="!restaurantes.selectedRestaurante.abierto" class="current-status"><img src="assets/imgs/cerrado.png"></div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="resumen-opiniones section">
    <div class="span-opiniones">
      <img src="assets/imgs/corazon-{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'green' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'yellow' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'orange' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'tienda' ? 'purple' : '' }}.png" class="corazon">
      <img *ngIf="restaurantes.selectedRestauranteProfile.valoracion_media > 1" src="assets/imgs/corazon-{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'green' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'yellow' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'orange' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'tienda' ? 'purple' : '' }}.png" class="corazon">
      <img *ngIf="restaurantes.selectedRestauranteProfile.valoracion_media > 2" src="assets/imgs/corazon-{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'green' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'yellow' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'orange' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'tienda' ? 'purple' : '' }}.png" class="corazon">
      <img *ngIf="restaurantes.selectedRestauranteProfile.valoracion_media > 3" src="assets/imgs/corazon-{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'green' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'yellow' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'orange' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'tienda' ? 'purple' : '' }}.png" class="corazon">
      <img *ngIf="restaurantes.selectedRestauranteProfile.valoracion_media > 4" src="assets/imgs/corazon-{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'green' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'yellow' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'orange' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'tienda' ? 'purple' : '' }}.png" class="corazon">
    </div>
    <p>{{(restaurantes.selectedRestauranteProfile.numero_valoraciones == 'None' ? 0 : restaurantes.selectedRestauranteProfile.numero_valoraciones) + (restaurantes.selectedRestauranteProfile.numero_valoraciones == 1 ? ' opinión' : ' opiniones')}}</p>
  </div>

  <div class="separator"></div>

  <div class="descripcion section">
    <p>{{ restaurantes.selectedRestauranteProfile.descripcion }}</p>
    <!-- <button (click)="goToOpinar()" class="greenbutton" ion-button color="{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'verde' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'amarillo' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'naranja' : '' }}">Deja tu opinión en este restaurante</button> -->
  </div>

  <div class="separator"></div>

  <div class="carta-section" *ngIf='restaurantes.selectedRestauranteCarta.categorias && restaurantes.selectedRestauranteCarta.categorias.length > 0'>
    <p class="section-title">Carta</p>
    <h1>{{tipo}}</h1>

    <div class="carta-wrap section" *ngIf="isRestauranteCartaLoaded">
      <div class="menuItemBox" *ngFor="let categoria of restaurantes.selectedRestauranteCarta.categorias">
        <button (click)="toggleCategoria(categoria.name)" ion-button class="menuCategory" color="{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'verdeClaro' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'amarilloClaro' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'naranjaClaro' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'tienda' ? 'moradoClaro' : '' }}">{{ categoria.name }}<ion-icon *ngIf="!categoria.opened" name="add"></ion-icon><ion-icon *ngIf="categoria.opened" name="remove"></ion-icon></button>
        <div class="menuItems" *ngIf="categoria.opened">
          <div class="item {{ restaurantes.selectedRestaurante.tipo }}" *ngFor="let item of restaurantes.selectedRestauranteCarta.platos[categoria.name]">
            <div class="mainInfo">
              <p>{{ item.nombre_plato }}</p>
              <p>{{ (item.precio != 0) ? (item.precio + '€') : '-' }}</p>
            </div>
            <p>{{ item.ingredientes }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="separator" *ngIf="restaurantes.selectedRestauranteProfile.galeria.length > 0" ></div>

  <div class="photos-wrap section" *ngIf="restaurantes.selectedRestauranteProfile.galeria.length > 0">
    <p class="section-title">Fotos</p>
    <div class="photos-box">
      <img *ngFor="let image of restaurantes.selectedRestauranteProfile.galeria" [src]="'https://micomidavegana.com/static/media/' + image">
    </div>
    <!-- <button class="greenbutton" ion-button color="{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'verde' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'amarillo' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'naranja' : '' }}">Ver todas las fotos</button> -->
  </div>

  <!-- <div class="separator"></div>

  <div class="opiniones-wrap section">
    <p class="section-title">Opiniones</p>
    <button class="greenbutton" ion-button color="{{ restaurantes.selectedRestaurante.tipo == 'vegana' ? 'verde' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'vegetariana' ? 'amarillo' : '' }}{{ restaurantes.selectedRestaurante.tipo == 'opcion' ? 'naranja' : '' }}">Ver todas las opiniones</button>
  </div> -->

  <div class="separator"></div>

  <div class="informacion-wrap section">
    <p class="section-title">Más información</p>
    <div class="info-buttons">
      <!-- <button ion-button full color="light" (click)='toggleHorario()'><a>HORARIO</a></button> -->
      <button *ngIf='restaurantes.selectedRestauranteProfile.web' ion-button full color="light"><a [href]="restaurantes.selectedRestauranteProfile.web">Página del restautante</a></button>
      <button *ngIf='restaurantes.selectedRestauranteProfile.twi' ion-button full color="light"><a [href]="restaurantes.selectedRestauranteProfile.twi">Twitter</a></button>
      <button *ngIf='restaurantes.selectedRestauranteProfile.face' ion-button full color="light"><a [href]="restaurantes.selectedRestauranteProfile.face">Facebook</a></button>
      <button *ngIf='restaurantes.selectedRestauranteProfile.insta' ion-button full color="light"><a [href]="restaurantes.selectedRestauranteProfile.insta">Instagram</a></button>
      <button ion-button full color="light"><a [href]="'https://micomidavegana.com/restaurante/' + restaurantes.selectedRestaurante.slug">micomidavegana.com</a></button>
    </div>
  </div>

</ion-content>

<!-- <div class='modal-horario-wrap' *ngIf='showHorario'>
  <div class="modal-horario">
    <div class="close-modal" (click)='toggleHorario()'>
      <ion-icon class='close-circle' name="close-circle"></ion-icon>
    </div>
    <div class="tabla-horario">
      
    </div>
  </div>
</div> -->