page-restaurante {
  .modal-horario-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

    .modal-horario {
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 48px);
      height: calc(100% - 48px);
      margin: 24px;
      border-radius: 12px;
      border: 2px solid darkgray;
      .close-circle {
        position: absolute;
        top: -16px;
        right: -16px;
        font-size: 36px;
        padding: 6px;
      }
    }
  }

  ion-header {
    ion-navbar {

      &.vegana {
        .toolbar-background {
          background-color: $verde !important;
        }
      }

      &.vegetariana {
        .toolbar-background {
          background-color: $amarillo !important;
        }
      }

      &.opcion {
        .toolbar-background {
          background-color: $naranja !important;
        }
      }

      &.tienda {
        .toolbar-background {
          background-color: $morado !important;
        }
      }

      .toolbar-title {
        color: white;
        font-size: 22px;

      }

      .back-button-icon {
        color: white;
      }

      .restaurante-option {
        button {
          margin: 0;

          img {
            height: 18px;
            padding: 0 2px;
            margin: 0 2px;
          }
        }
      }
    }
  }

  .main-image {
    width: 100%;
    height: 28%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heading {
    display: flex;
    align-items: center;

    &>img {
      width: 30%;
      margin: -64px 6px 0;
    }

    .restaurante-title {
      p {
        margin: 0;
      }

      .title {
        font-size: 24px
      }

      .current-status {
        img {
          height: 1.5rem;
          margin-top: 5px;
        }
      }
    }
  }

  .resumen-opiniones {
    text-align: center;

    .span-opiniones {
      img {
        width: 30px;
      }
    }

    p {
      margin: 0;
    }
  }

  .descripcion {
    text-align: center;

    p {
      font-family: montserrat;
      white-space: pre-line;
    }
  }

  .carta-section {
    margin-bottom: 8px;

    .carta-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;

      .menuCategory {
        margin: 4px 0;
        box-shadow: none;
        width: 100%;
        border-radius: 2px;
        height: auto;
        padding: 5px 10px;

        span {
          justify-content: space-between;
          font-size: 15px;
        }
      }

      .menuItems {
        margin-top: -2px;

        p {
          margin: 0;
        }

        .item {
          padding: 6px 6px;
          // margin: 0 4px;
          margin-bottom: 2px;
          background-color: $gris;

          p,
          span {
            font-family: montserrat;
          }

          // &.vegana {
          //   background-color: $verdeClaro;

          // }

          // &.vegetariana {
          //   background-color: $amarilloClaro;

          // }

          // &.opcion {
          //   background-color: $naranjaClaro;

          // }

          .mainInfo {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
          }

          &>p {
            span {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }

  .section-title {
    // border-top: 1px solid black;
    // padding: 6px 0;
    // width: 80%;
    text-align: center;
    // margin: 0 auto;
    font-size: 18px;
  }

  .separator {
    background-color: $gris;
    width: 80%;
    height: 1px;
    margin: 0 auto;
  }

  .section {
    padding: 6px 0;
  }

  .photos-wrap {
    margin-bottom: 8px;
    text-align: center;
    padding: 0 16px;

    .photos-box {
      // display: flex;
      // justify-content: space-around;
      margin-bottom: 6px;
      overflow: auto;
      white-space: nowrap;

      img {
        display: inline-block;
        height: 150px;
        margin-right: 16px;
      }

      // .photo {
      //   height: 120px;
      //   width: 26%;
      //   background-color: $gris;
      //   border-radius: 8px;
      // }
    }
  }

  .descripcion {
    padding-left: 16px;
    padding-right: 16px;
  }

  .opiniones-wrap {
    text-align: center;
    margin-bottom: 8px;
  }

  .informacion-wrap {

    .info-buttons {
      margin-top: 12%;

      button {
        box-shadow: none;
        height: 2.8rem;

        span {
          text-transform: none;
          font-family: montserrat;
          font-size: 13px;
        }

        a {
          color: black;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
}
