// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'bebasneue';
  src: url('../assets/fonts/BebasNeue.ttf'),
}

@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/Montserrat.ttf'),
}

* {
  font-family: bebasneue;
}

.scroll-content {
  margin-top: 56px;
}

.header-md::after,
.tabs-md[tabsPlacement="top"]>.tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
  background: none;
}

.pgm-html-info-content-box {
  padding: 0!important;
}

ion-header {
  ion-navbar {
    .toolbar-background {
      background: #e9e9e9 !important;
    }

    .toolbar-content {
      display: flex;
      justify-content: space-between;
      height: 100%;
      max-width: 100%;

      ion-title {
        max-width: 100%;
      }

      .logo-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 20px;

        img {
          height: 44px;
        }
      }

      .account-wrap {
        display: flex;

        button {
          padding: 0;
          margin: 0;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;

          span {
            img {
              height: 44px;
            }
          }
        }
      }
    }
  }
}

.tabbar {
  background: #e9e9e9 !important;

  &::before {
    content: none !important;
  }
}

ion-tabs {
  .tab-button:nth-child(1) {
    background-image: url(/assets/imgs/mapa-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    transition: 333ms;
  }

  .tab-button:nth-child(1)[aria-selected="true"] {
    background-image: url(/assets/imgs/mapa-purple.png);
  }

  .tab-button:nth-child(2) {
    background-image: url(/assets/imgs/lista-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    transition: 333ms;
  }

  .tab-button:nth-child(2)[aria-selected="true"] {
    background-image: url(/assets/imgs/lista-purple.png);
  }

  .tab-button:nth-child(3) {
    background-image: url(/assets/imgs/menu-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    transition: 333ms;
  }

  .tab-button:nth-child(3)[aria-selected="true"] {
    background-image: url(/assets/imgs/menu-purple.png);
  }

  .tab-button:nth-child(4) {
    background-image: url(/assets/imgs/favoritos-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    transition: 333ms;
  }

  .tab-button:nth-child(4)[aria-selected="true"] {
    background-image: url(/assets/imgs/favoritos-purple.png);
  }

  .tab-button:nth-child(5) {
    background-image: url(/assets/imgs/buscar-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    transition: 333ms;
  }

  .tab-button:nth-child(5)[aria-selected="true"] {
    background-image: url(/assets/imgs/buscar-purple.png);
  }
}

.greenbutton {
  box-shadow: none;
  height: auto;
  width: max-content;
  padding: 4px 12px;
  span {
    font-family: montserrat;
    font-size: 12px;
  }
}
ion-label, input {
  font-family: montserrat;
}
.item-checkbox {
  ion-label {
    white-space: normal!important;
  font-size: 12px;
}
}