page-lista {
  .scroll-content {
    padding: 22px 16px;
    .restaurante {
      display: flex;
      margin-bottom: 14px;
      p {
        margin: 0;
      }
      .image {
        width: 100px;
        height: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        padding: 14px 0;
        justify-content: center;
        position: relative;
        border-radius: 8px;
        background-color: map-get($colors, gris);
        margin-right: 12px;
        overflow: hidden;
        img {
          margin: 0 auto;
        }
        .down-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 14px;
          &.vegana {
            background-color: $verde;
          }
          &.vegetariana {
            background-color: $amarillo;
          }
          &.opcion {
            background-color: $naranja;
          }
          &.tienda {
            background-color: $morado;
          }
        }
      }
      .data {
        width: 68%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .restaurant-distance {
          background-color: #eee;
          display: inline-block;
          width: fit-content;
          padding: 0 3px;
        }
        .title {
          font-size: 18px;
          font-weight: bold;
        }
        .valoration {
          display: flex;
          flex-direction: row;
          img {
            width: 20px;
            height: 20px;
          }
          .reviews {
            font-weight: bold;
            font-size: 11px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 8px;
          }
        }
        .description {
          font-size: 10px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .distance {
          background-color: #eee;
          display: inline-block;
            font-weight: bold;
            font-size: 11px;
          padding: 0 3px;
          width: fit-content;
        }
        .current-status {
          img {
            display: block;
            max-height: 11px;
            background-color: white;
            border-radius: 4px;
            margin: 3px 0;
          }
        }
      }
    }
  }
}
