<ion-header>
  <ion-navbar>
    <div class="logo-wrap">
      <img src="assets/imgs/logo.png">
    </div>
    <div class="account-wrap">
      <button ion-button clear (click)="goToMiCuenta()"><img src="assets/imgs/mi-cuenta-green.png"></button>
      <button ion-button clear (click)="goToInfo()"><img src="assets/imgs/info-green.png"></button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="restaurante" *ngFor="let restaurante of restaurantes.restaurantesNofree" (click)="goToThisRestaurante(restaurante)">
    <div class="image" [ngStyle]="{'background-image': 'url(https://micomidavegana.com/static/media/' + restaurante.imagen + ')'}">
      <div class="down-bar {{ restaurante.tipo }}"></div>
    </div>
    <div class="data">
      <p class="title">{{ restaurante.nombre }}</p>
      <div *ngIf="restaurante.abierto" class="current-status"><img src="assets/imgs/abierto.png"></div>
      <div *ngIf="!restaurante.abierto" class="current-status"><img src="assets/imgs/cerrado.png"></div>
      <p *ngIf="restaurante.distancia" class="restaurant-distance">{{
        restaurante.distancia }}km</p>
      <!-- <p class="description">{{ restaurante.descripcion_corta }}</p> -->
      <!-- <div class="valoration"><img src="assets/imgs/corazon-green.png"><img src="assets/imgs/corazon-green.png"><img src="assets/imgs/corazon-green.png"><img src="assets/imgs/corazon-green.png"><img src="assets/imgs/corazon-green.png"><p class="reviews">47 opiniones</p></div> -->
    </div>
  </div>
</ion-content>