page-primera-vez {
  .scroll-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: $naranja;
    .policy {
      a {
        color: black;
      }
    }
    .submitButton {
      color: #fff;
      background-color: #80358a;
      width: 100px;
      margin: 10px auto;
      height: auto;
      font-size: 20px;
      padding: 4px 0 2px;
      border-radius: 12px;
    }
  }
 form {
   text-align: left;
   .item {
      background: none;
      padding: 0;
    .item-inner {
      border-bottom: none !important;
      padding-right: 0!important;
  
      ion-label {
        color: $morado !important;
        font-family: montserrat !important;
        font-weight: bold;
      }
  
      ion-input {
        input {
          margin-right: 0;
          width: 100%;
          background-color: $gris;
          color: rgba(0, 0, 0, 0.4);
          font-family: montserrat;
          font-size: 13px;
          padding: 3px;
          margin-top: 2px;
          margin-bottom: 0;
        }
      }
  
      ion-select {
        padding: 0;
        position: relative;
        max-width: none;
        width: 100%;
  
        .select-text {
          margin-right: 0;
          width: 100%;
          font-family: montserrat;
          font-size: 13px;
          padding: 3px;
          margin-top: 2px;
          margin-bottom: 0;
          background-color: $naranjaClaro;
          color: black;
        }
  
        .select-icon {
          position: relative;
          width: 12px;
          height: 19px;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
   }
  }
 }
}
