<ion-content padding>
<h1>¡Gracias por registrarte!</h1>
<h3>Antes de continuar, por favor, revisa lo siguiente:</h3>
<form [formGroup]="form">
  <p>¿En qué ciudad vives?</p>
  <ion-item>
    <!-- <ion-label stacked>Ciudad</ion-label> -->
    <ion-select formControlName="ciudad">
      <ion-option [value]="ciudad.nombre" *ngFor="let ciudad of listaCiudades">{{ ciudad.nombre }}</ion-option>
    </ion-select>
  </ion-item>
      
  <ion-item class='publicidad'>
    <ion-label stacked>Recibir información por email</ion-label>
    <ion-checkbox formControlName='publicidad' color="morado"></ion-checkbox>
  </ion-item>
</form>
<div>
  <p class='policy'>Al continuar usando la aplicación aceptas los <a href='https://micomidavegana.com/terminos-condiciones-uso/'>términos y condiciones</a> y la <a href='https://micomidavegana.com/ley-proteccion-de-datos/'>política de privacidad</a>.</p>
  <button class='submitButton' ion-button (click)='goToTabs()'>Continuar</button>
</div>
</ion-content>