page-editar-perfil {
  ion-navbar {
    button {
      color: white !important;
    }

    .toolbar-background {
      background: $verde !important;
    }

    .toolbar-title {
      color: white !important;
    }
  }

  .scroll-content {
    .publicidad {
      margin: 16px 0;
    }

    .item {
      padding-left: 0;

      &.input-has-focus {
        .item-inner {
          box-shadow: none !important;
        }
      }

      .item-inner {
        border-bottom: none !important;
        padding-right: 0;

        ion-label {
          color: $morado !important;
          font-family: montserrat !important;
          font-weight: bold;
        }

        ion-input {
          input {
            margin-right: 0;
            width: 100%;
            background-color: $gris;
            color: rgba(0, 0, 0, 0.4);
            font-family: montserrat;
            font-size: 13px;
            padding: 3px;
            margin-top: 2px;
            margin-bottom: 0;
          }
        }

        ion-select {
          padding: 0;
          position: relative;

          .select-text {
            margin-right: 0;
            width: 100%;
            background-color: $gris;
            color: rgba(0, 0, 0, 0.4);
            font-family: montserrat;
            font-size: 13px;
            padding: 3px;
            margin-top: 2px;
            margin-bottom: 0;
          }

          .select-icon {
            position: relative;
            width: 12px;
            height: 19px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

    }

    .button-wrap {
      width: 100%;
      text-align: right;
    }
  }

}
