<ion-header>
  <ion-navbar>
    <ion-title>Editar perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
  
      <ion-item>
        <ion-label stacked>Nombre de usuario</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Ciudad</ion-label>
        <ion-select formControlName="ciudad">
          <ion-option [value]="ciudad.nombre" *ngFor="let ciudad of listaCiudades">{{ ciudad.nombre }}</ion-option>
        </ion-select>
      </ion-item>
    
      <ion-item *ngIf='profile.tipo != "social"'>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      
      <ion-item class='publicidad'>
        <ion-label stacked>Recibir información por email</ion-label>
        <ion-checkbox formControlName='publicidad' color="morado"></ion-checkbox>
      </ion-item>

  </form>
  <div class="button-wrap">
    <button ion-button class="greenbutton" (click)="submit()" color="verde">Guardar</button>
  </div>
</ion-content>