<ion-header>
  <ion-navbar>
    <div class="logo-wrap">
      <img src="assets/imgs/logo.png">
    </div>
    <div class="account-wrap">
      <button ion-button clear (click)="goBack()"><img src="assets/imgs/mi-cuenta-purple.png"></button>
      <!-- <button ion-button clear><img src="assets/imgs/info-green.png"></button> -->
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="section-profile">
    <!-- <div class="image-wrap">
      <img src="assets/imgs/profile.jpg">
    </div> -->
    <div class="info-wrap">
      <div class="content">
        <!-- <p>{{ profile.nombre }}</p> -->
        <p>{{ '@' + profile.username }}</p>
      </div>
      <button ion-button class="greenbutton" (click)="goToEditarPerfil()" color="verde">Editar perfil</button>
    </div>
  </div>

  <div class="section-options">
    <div class="options">
      <!-- <div>
        <img src="assets/imgs/icon-ajustes.png">
      </div> -->
      <div (click)="trySendEmail()">
        <img src="assets/imgs/icon-correo.png">
      </div>
      <div (click)="tryLogout()">
        <img src="assets/imgs/icon-logout.png">
      </div>
    </div>
  </div>
</ion-content>