page-mi-cuenta {
  .scroll-content {
    .section-profile {
      display: flex;
      padding: 40px 30px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 70%;
        height: 2px;
        background-color: $gris;
        bottom: 20px;
        left: 15%;
      }
      .image-wrap {
        width: 25%;
        padding: 4px;
        img {
          height: auto;
          width: auto;
          border-radius: 50%;
          background-color: $gris;
        }
      }
      .info-wrap {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: montserrat;
        padding: 6px;
        // padding-top: 14px;
        min-height: 75px;
        .content {
          p {
            margin: 0;
          }
        }
      }
    }
    .section-options {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 40px 30px;
      &::after {
        content: '';
        position: absolute;
        width: 70%;
        height: 2px;
        background-color: $gris;
        top: 10px;
        left: 15%;
      }
      .options {
        display: flex;
        justify-content: center;
        div {
          padding: 0 15px;
          img {
            height: 35px;
            display: block;
          }
        }
      }
    }
  }
}
