<ion-header>
  <ion-navbar>
    <ion-title>Deja tu opinión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="rating-wrap">
    <div class="rating-row">
      <p class="rating-title">CALIDAD-PRECIO</p>
      <div class="rating-points">
        <img src="assets/imgs/corazon-{{ calidadValue < 1 ? 'gray' : 'green' }}.png" (click)="setValue('calidad', 1)" class="corazon">
        <img src="assets/imgs/corazon-{{ calidadValue < 2 ? 'gray' : 'green' }}.png" (click)="setValue('calidad', 2)" class="corazon">
        <img src="assets/imgs/corazon-{{ calidadValue < 3 ? 'gray' : 'green' }}.png" (click)="setValue('calidad', 3)" class="corazon">
        <img src="assets/imgs/corazon-{{ calidadValue < 4 ? 'gray' : 'green' }}.png" (click)="setValue('calidad', 4)" class="corazon">
        <img src="assets/imgs/corazon-{{ calidadValue < 5 ? 'gray' : 'green' }}.png" (click)="setValue('calidad', 5)" class="corazon">
      </div>
    </div>
    <div class="rating-row">
      <p class="rating-title">TIEMPO DE ESPERA</p>
      <div class="rating-points">
        <img src="assets/imgs/corazon-{{ tiempoValue < 1 ? 'gray' : 'green' }}.png" (click)="setValue('tiempo', 1)" class="corazon">
        <img src="assets/imgs/corazon-{{ tiempoValue < 2 ? 'gray' : 'green' }}.png" (click)="setValue('tiempo', 2)" class="corazon">
        <img src="assets/imgs/corazon-{{ tiempoValue < 3 ? 'gray' : 'green' }}.png" (click)="setValue('tiempo', 3)" class="corazon">
        <img src="assets/imgs/corazon-{{ tiempoValue < 4 ? 'gray' : 'green' }}.png" (click)="setValue('tiempo', 4)" class="corazon">
        <img src="assets/imgs/corazon-{{ tiempoValue < 5 ? 'gray' : 'green' }}.png" (click)="setValue('tiempo', 5)" class="corazon">
      </div>
    </div>
    <div class="rating-row">
      <p class="rating-title">COMIDA</p>
      <div class="rating-points">
        <img src="assets/imgs/corazon-{{ comidaValue < 1 ? 'gray' : 'green' }}.png" (click)="setValue('comida', 1)" class="corazon">
        <img src="assets/imgs/corazon-{{ comidaValue < 2 ? 'gray' : 'green' }}.png" (click)="setValue('comida', 2)" class="corazon">
        <img src="assets/imgs/corazon-{{ comidaValue < 3 ? 'gray' : 'green' }}.png" (click)="setValue('comida', 3)" class="corazon">
        <img src="assets/imgs/corazon-{{ comidaValue < 4 ? 'gray' : 'green' }}.png" (click)="setValue('comida', 4)" class="corazon">
        <img src="assets/imgs/corazon-{{ comidaValue < 5 ? 'gray' : 'green' }}.png" (click)="setValue('comida', 5)" class="corazon">
      </div>
    </div>
  </div>
  <textarea name="text" [(ngModel)]="text" placeholder="Escribe aquí tu opinión"></textarea>
  <button (click)="submit()" class="greenbutton" ion-button color="verde">ENVIAR</button>

</ion-content>
