page-dejar-opinion {
  ion-navbar {
    button {
      color: white !important;
    }

    .toolbar-background {
      background: $verde !important;
    }

    .toolbar-title {
      color: white !important;
    }
  }

  .rating-wrap {
      padding-top: 16%;
      .rating-row {
      display: flex;
        padding-bottom: 6px;
      .rating-title,
      .rating-points {
        display: inline-block;
        margin: 0;
      }

      .rating-title {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  textarea {
    width: 100%;
    height: 38%;
    background-color: rgba(0,0,0,0.1);
    border: none;
    resize: none;
    font-family: montserrat;
    font-size: 12px;
  }

  button {
    float: right;
  }

  .rating-points {
    img {
      width: 30px;
    }
  }

}
