<ion-header>
  <ion-navbar>
    <div class="logo-wrap">
      <img src="assets/imgs/logo.png">
    </div>
    <div class="account-wrap">
      <button ion-button clear (click)="goToMiCuenta()"><img src="assets/imgs/mi-cuenta-green.png"></button>
      <button ion-button clear (click)="goToInfo()"><img src="assets/imgs/info-green.png"></button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="images-row">
    <div class="image" [class.selected]="isFilterActive('vegana')">
      <img src="assets/imgs/vegano.svg" (click)="toggleFilter('vegana')">
    </div>
    <div class="image" [class.selected]="isFilterActive('vegetariana')">
      <img src="assets/imgs/vegetariano.svg" (click)="toggleFilter('vegetariana')">
    </div>
  </div>
  <div class="images-row">
    <div class="image" [class.selected]="isFilterActive('opcion')">
      <img src="assets/imgs/op-vegana.svg" (click)="toggleFilter('opcion')">
    </div>
    <div class="image" [class.selected]="isFilterActive('tienda')">
      <img src="assets/imgs/tiendas.svg" (click)="toggleFilter('tienda')">
    </div>
  </div>
  <div class="buttons-row">
    <button (click)="goToMapa()" ion-button class="greenbutton" color="verde">MAPA</button>
    <button (click)="goToLista()" ion-button class="greenbutton" color="verde">LISTADO</button>
  </div>
</ion-content>
