page-menu {
  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10% 0;
    .greenbutton {
      width: 70%;
      margin: 0 auto 20px;
      .content-b {
        margin-right: 10px;
      }
    }
    .buttons-row {
      display: flex;
      justify-content: center;
      .greenbutton {
        width: 80px;
        padding: 10px;
        margin: 0 22px;
      }
    }
    .images-row {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .image {
          width: 42%;
          position: relative;
          img {
            filter: grayscale(100%);
            padding: 8px;
          }
          img {
            transition: 0.5s;
            display: block;
          }
          button {
            padding: 0;
            min-width: .9em;
            position: absolute;
            left: 80%;
            bottom: 80%;
            font-size: 18px;
            color: red;
            .button-inner {
              ion-icon {
                padding: 0;
              }
            }
          }
        &.selected {
          img {
            filter: none;
            padding: 0;
          }
        }
      }
    }
  }
}
